<body>
<aside id="left-panel" class="left-panel">
 <nav class="navbar navbar-expand-sm navbar-default"> 
<app-sidebarheader></app-sidebarheader>
<!-- /.navbar-collapse -->
</nav>
</aside><!-- /#left-panel -->
<!-- Right Panel -->
 
<div id="right-panel" class="right-panel">
  <!-- Header-->
<header id="header" class="header">
<div class="header-menu">
<app-header></app-header>
</div>
</header><!-- /header -->
<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title breadcrumb">
                        <span>Review Questions</span>
                    </div>
                </div>
            </div>
           <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                          <li class="breadcrumb-item" aria-current="page">Review Questions</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

<div class="content mt-3">
<div class="col-lg-12"> 
<div class="card"> 
<div class="card-header">
<strong class="card-title">Are you sure you want to confirm below questions ?</strong>
</div>
  
<br>
<br>
<br>
<div class="col-lg-12" style="text-align:center;"> 
  <b>Topic : </b> Topic 1
</div>
<div class="col-lg-12" style="text-align:center;"> 
  <b>Sub Topic : </b> Sub Topic 1
</div>
<div class="col-lg-12" style="text-align:center;"> 
  <b>Quiz : </b> Unit Test 1
</div>
<div class="col-lg-12" >
<h3 style="font-size: 15px;">1): A wireless technology built in electronic gadgets used for exchanging data over short distances is ?
<a href="#" data-toggle="modal" data-target="#largeModal">
<i class="fa fa-pencil-square-o" title="Edit" style="font-size: 30px;color: darkslateblue;"></i></a>
<a href="#" data-toggle="modal" data-target="#largeModal">
<i class="fa fa fa-remove" title="Close" style="font-size: 30px;color: red;"></i></a>
</h3>
<p> <span>Option 1)</span> Bluetooth </p>
<p> <span>Option 2) </span>Wifi </p>
<p> <span>Option 3) </span>Modem </p>
<p> <span>Option 4) </span>USB </p>
<p> <span>Correct Answer : </span> 
  <span style="background-color: yellow;">Option 1 </span></p>
<p> <span>Hint : </span> <span style="background-color: #ffffc0;font-size: 13px;">Metadata is data (information) about data.The <meta> tag provides metadata about the HTML document. Metadata will not be displayed on the page, but will be machine parsable.Meta elements are typically used to specify page description, keywords, author of the document, last modified, and other metadata. </span></p>
<h3 style="font-size: 15px;margin-inline-start: 32px;">2): USB is which type of storage device ?
<a href="#" data-toggle="modal" data-target="#largeModal">
<i class="fa fa-pencil-square-o" title="Edit" style="font-size: 30px;color: darkslateblue;"></i></a>
<a href="#" data-toggle="modal" data-target="#largeModal">
<i class="fa fa fa-remove" title="Close" style="font-size: 30px;color: red;"></i></a>
</h3><br>
<p> <span>Option 1)</span> Primay </p>
<p> <span>Option 2) </span>Secondary </p>
<p> <span>Option 3) </span>Tertiary </p>
<p> <span>Option 4) </span>None of above </p>
<p> <span>Correct Answer : </span> <span style="background-color: yellow;">Option 2 </span></p>
<p> <span>Hint : </span> <span style="background-color: #ffffc0;font-size: 13px;">Metadata is data (information) about data.The <meta> tag provides metadata about the HTML document. Metadata will not be displayed on the page, but will be machine parsable.Meta elements are typically used to specify page description, keywords, author of the document, last modified, and other metadata. </span></p>

<div class="form-actions form-group " style="text-align:center;">
<button type="submit" class="btn btn-primary btn-sm" >Confirm</button>
<button type="reset" class="btn btn-primary btn-sm quiz_removelist" style="background: #c50f1f;">cancel</button>
</div>

</div>
</div>
</div>
</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>