
<div class="col-sm-12">
<div class="col-sm-4" style="text-align: left;">
<a [routerLink]="['/spquizes']" style="color:white;cursor: pointer;">
<h4 style="margin: 6px;">SPIKELET-quiz</h4></a> 
</div> 
<!-- <div class="col-sm-10"> -->
<div class="col-sm-4">  
    <div class="col-sm-12 text-center" style="color:white;cursor: pointer;">
        <h6 style="margin: 8px;">Prasada Reddy - [ TEACHER ]</h6> 
    </div>
    
</div>
<div class="col-sm-4" style="width: 100%;">
    <div class="user-area dropdown float-right">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="user-avatar rounded-circle" src="assets/images/admin.jpg" alt="User Avatar">
        </a>
        
        <div class="user-menu dropdown-menu">
        <a class="nav-link" href="profile.php"><i class="fa fa-user"></i> My Profile</a>
        
        <a class="nav-link" href="teachersetting.php"><i class="fa fa-align-justify"></i> Class Change </a>
        
        <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>
        
        <a class="nav-link" [routerLink]="['/teachersetting']"><i class="fa fa-cog"></i> Settings</a>
        
        <a [routerLink]="['/securehome/logout']"><i class="fa fa-power-off"></i> Logout</a>
        
        </div>
        </div>
</div>

</div>


<!-- </div> -->
    
<!-- <div class="col-sm-4" >
<div class="user-area dropdown float-right">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        
<img class="user-avatar rounded-circle" src="assets/images/admin.jpg" alt="User Avatar">
</a>

<div class="user-menu dropdown-menu">
<a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>
<a class="nav-link" [routerLink]="['/appsupload']"><i class="fa fa-user"></i> Upload Video</a>
<a class="nav-link" ><i class="fa fa-cog"></i> Settings</a>

<a [routerLink]="['/']"><i class="fa fa-power-off"></i> Logout</a>

</div>
</div>

<div class="language-select dropdown" id="language-select">
<a class="dropdown-toggle" href="#" data-toggle="dropdown" id="language" aria-haspopup="true" aria-expanded="true">
<i class="flag-icon flag-icon-us"></i>
</a>
<div class="dropdown-menu" aria-labelledby="language">
<div class="dropdown-item">
<span class="flag-icon flag-icon-fr"></span>
</div>
<div class="dropdown-item">
<i class="flag-icon flag-icon-es"></i>
</div>
<div class="dropdown-item">
<i class="flag-icon flag-icon-us"></i>
</div>
<div class="dropdown-item">
<i class="flag-icon flag-icon-it"></i>
</div>
</div>
</div>

</div> -->