<body>
<aside id="left-panel" class="left-panel">
 <nav class="navbar navbar-expand-sm navbar-default"> 
<app-sidebarheader></app-sidebarheader>
<!-- /.navbar-collapse -->
</nav>
</aside><!-- /#left-panel -->
<!-- Right Panel -->

<div id="right-panel" class="right-panel" style="background-color: #f9f9f9;">
  <!-- Header-->
<header id="header" class="header">
<div class="header-menu">
<app-header></app-header>
</div>
</header><!-- /header -->
<div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title breadcrumb">
                        <span>{{datalabel.heading[0].calendar}}</span>
                    </div>
                </div>
            </div>
           <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item active"><a [routerLink]="['/dashboard']">{{datalabel.heading[0].dashboard}}</a></li>
                          <li class="breadcrumb-item" aria-current="page">{{datalabel.heading[0].calendar}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

<div class="content mt-3">
        <div id='calendar'></div>
</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>