<body >
<style>
.app-title{
    font-size: 12px;
}  
.app-div{
    background-color: white;
    border-bottom: 4px solid red;
}
.fa-star{
    font-size: 10px;
}
</style>
<div id="right-panel" class="right-panel" style="background-color: #efefef;">
  <!-- Header-->
<header id="header" class="header">
<div class="header-menu">
 <app-appheader></app-appheader>
    
</div>
</header><!-- /header -->
<div class="" >
        <div class="col-sm-2" style="padding-left: 0px;">
            <aside id="left-panel" class="left-panel" style="background: white;">
                <nav class="navbar navbar-expand-sm navbar-default" style="background: white;"> 
                <app-appsidebarheader></app-appsidebarheader>
                <!-- /.navbar-collapse -->
                </nav>
                </aside><!-- /#left-panel -->    
        </div>
        <div class="col-sm-10">
           
           <div class="col-sm-12" >
                <p></p>
                <div class="col-sm-6" >
                <h4>Mathematics </h4>
                </div>
                <div class="col-sm-6" style="text-align:right;">
                <button  class="btn-sm" style="background-color: #689f38;
                color:white;">See More</button>
                </div>
                <div class="col-sm-12" >
                <p></p>
                <p></p>
                </div>
            <div class="col-sm-2" >
                <div class="col-sm-12 app-div">
                    <p></p>
                <img src="assets/images/apps/img1.jpg" style="height: 130px;
                width: 100%;">
               <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
               </a>
               <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
               
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star"></span>
                 <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                    <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img2.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematical Physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img3.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title="All Math ,Physics & Chemistry Formulas- All In One"> All Math ,Physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img4.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img5.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title="Mathematical physics"> Mathematical physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img6.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
              
                
           </div>
           <div class="col-sm-12" >
                <p></p>
                <div class="col-sm-6" >
                <h4>English </h4>
                </div>
                <div class="col-sm-6" style="text-align:right;">
                <button  class="btn-sm" style="background-color: #689f38;
                color:white;">See More</button>
                </div>
                <div class="col-sm-12" >
                <p></p>
                <p></p>
                </div>
            <div class="col-sm-2" >
                <div class="col-sm-12 app-div">
                    <p></p>
                <img src="assets/images/apps/img1.jpg" style="height: 130px;
                width: 100%;">
               <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
               </a>
               <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
               
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star"></span>
                 <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                    <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img2.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematical Physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img3.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title="All Math ,Physics & Chemistry Formulas- All In One"> All Math ,Physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img4.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img5.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title="Mathematical physics"> Mathematical physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img6.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
              
                
           </div>
           <div class="col-sm-12" >
                <p></p>
                <div class="col-sm-6" >
                <h4>Science </h4>
                </div>
                <div class="col-sm-6" style="text-align:right;">
                <button  class="btn-sm" style="background-color: #689f38;
                color:white;">See More</button>
                </div>
                <div class="col-sm-12" >
                <p></p>
                <p></p>
                </div>
            <div class="col-sm-2" >
                <div class="col-sm-12 app-div">
                    <p></p>
                <img src="assets/images/apps/img1.jpg" style="height: 130px;
                width: 100%;">
               <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
               </a>
               <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
               
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star"></span>
                 <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                    <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img2.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematical Physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img3.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title="All Math ,Physics & Chemistry Formulas- All In One"> All Math ,Physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img4.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img5.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title="Mathematical physics"> Mathematical physics</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-2">
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img6.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['/appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['/appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
              
                
           </div>
        </div>
    </div>


<div class="content" style="">
<div class="col-lg-2" style="padding-left: 0px;" >


</div>
</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>