<link rel="stylesheet" href="assets/css/indexcss/style.css">
  <link rel="stylesheet" href="assets/css/indexcss/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="assets/css/indexcss/stylev.css">
  <link rel="stylesheet" href="assets/css/indexcss/mbr-additionalv.css" type="text/css">
<section    class="header1 cid-qJ2VZmtvSe mbr-fullscreen mbr-parallax-background" id="header1-3">

    

    <div class="mbr-overlay" style="    background: -webkit-gradient(linear, left top, left 25, from(#9070f5), color-stop(34%, #7cff65), to(#af6f6f));">
    </div>

    <div class="container">
        
        
        <h1 class="mbr-section-title align-center mbr-fonts-style mbr-bold mbr-white pb-4 display-1" style="font-size: 50px; color: white;">School Management System</h1>
        <h5 class="mbr-section-title align-center mbr-fonts-style mbr-bold mbr-white pb-4 display-1" style="font-size: 30px; color: white;">Welcome To School Admin</h5>
        <p class="mbr-section-title align-center mbr-fonts-style mbr-bold mbr-white pb-4 display-1" style="font-size: 20px; color: white; ">Please select appropriate role to login and access your account</p>
        
        

        <div class="row justify-content-center">
            <div class="col-lg-8 booking-datepicker pt-5" data-form-type="formoid" data-start="01/01/2018" data-end="02/01/2018">
                <form class="mbr-form" action="https://mobirise.com/" method="get" data-form-title="My Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="aIvXKlmLd9r5qHaLw/S9ghX3QUdX9nJVgLhofMLZDiSWaYpITl+m4SVH138CkxEBb1Ex1M6A9yDJEkC/hdeLcDbcBtId9z4RoS19aGV/z6zG0ZMywgVyVGEiDsbdX0tP">
                    <div class="col-3 input-wrap check-in" data-for="check-in" style="background-color: teal;border-radius: 100px;">
                       <!-- <input type="text" class="check-out-input" name="check-out" data-form-field="Check-Out" readonly="" id="check-out-header1-3"> -->
                        <a href="#">
                          <img src="assets/images/admin2.png" style="height: 90px;">
                         </a>
                         <a href="#"  [routerLink]="['admin']"><span class="label mbr-fonts-style align-center display-4" style="font-size: 35px;color:white;">
                            <h3>Admin </h3>
                        </span></a>
                        
                    </div> &nbsp;
                    <div class="col-3 input-wrap check-out" data-for="check-out" style="background-color: tomato;
    border-radius: 100px;">
                        <a [routerLink]="['teacher']" routerLinkActive="active" >
                          <img src="assets/images/happy-teacher.png" style="height: 90px;">
                         </a>
                         <a  [routerLink]="['teacher']" ><span class="label mbr-fonts-style align-center display-4" style="font-size: 35px;color:white;">
                           <h3> Staff </h3>
                        </span></a>
                    </div>&nbsp;
                    <div class="col-3 input-wrap guests" data-for="guests" style="background-color: palevioletred;border-radius: 100px;">
                       <a [routerLink]="['studentlogin']" >
                          <img src="assets/images/student_PNG142.png" style="height: 90px;">
                         </a>
                         <a [routerLink]="['studentlogin']" ><span class="label mbr-fonts-style align-center display-4" style="font-size: 35px;color:white;">
                           <h3> Student </h3>
                        </span></a>
                        
                    </div>&nbsp;
                    <div class="col-3 input-wrap guests" data-for="guests" style="background-color: slateblue
                    ;border-radius: 100px;">
                       <a [routerLink]="['parent_login']" >
                          <img src="assets/images/familia-latina-2.png" style="height: 90px;">
                         </a>
                         <a [routerLink]="['parent_login']"><span class="label mbr-fonts-style align-center display-4" style="font-size: 35px;color:white;">
                          <h3>  Parent </h3>
                        </span></a>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</section>