<body >
<style>
.app-title{
    font-size: 12px;
}  
.app-div{
    background-color: white;
    border-bottom: 4px solid red;
}

</style>
<div id="right-panel" class="right-panel" style="background-color: #efefef;">
  <!-- Header-->
<header id="header" class="header">
<div class="header-menu">
        <app-appheader></app-appheader>
</div>
</header><!-- /header -->
<div class="" >
        <div class="col-sm-2" style="padding-left: 0px;">
            <aside id="left-panel" class="left-panel" style="background: white;">
                <nav class="navbar navbar-expand-sm navbar-default" style="background: white;"> 
                        <app-appsidebarheader></app-appsidebarheader>
                <!-- /.navbar-collapse -->
                </nav>
                </aside><!-- /#left-panel -->    
        </div>
        <div class="col-sm-7"  >
        <p></p>
        <div class="col-sm-12" >
        <h4>Mathematics </h4>
        </div>
        <div class="col-sm-12" >
        <p></p>
        <p></p>
    </div>
        <div class="col-sm-12" style="background-color: white;">
         <div class="col-sm-4" style="padding-left: 0px;">
             <p></p>
                <img src="assets/images/apps/img1.jpg" style="height: 300px;">
                <p></p>
         </div>
         <div class="col-sm-8">
                <div class="col-sm-12" >
                <p></p>
                <h5>Alex For Mathematical video</h5>
                <p>Alexa For Dummies
                        Paul McFedriesNovember 29, 2018
                        John Wiley & Sons</p>
                        </div>
                <div class="col-sm-12" >
               <h4>Reviews</h4>    
               <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>   
                </div>  
                <div class="col-sm-12" style="text-align: right;margin-top: 100px;">
        <button  class="btn-sm" style="background-color: #689f38;
                color:white;">Install</button>       
                </div>
              
         </div>  
         <div class="col-sm-12" style="text-align: justify">
             <h6>Upgrade your Echo expertise with this Dummies guide to all things Alexa</h6>
             <p>Amazon's hugely popular family of Echo devices has made Alexa a household name. She can answer your questions, entertain you, and even help around the house. Alexa for Dummies is the perfect guide for Alexa users who want to get up and running with their Echo devices. From basic setup to making the most of Alexa’s powerful smart home capabilities, this is your one-stop resource to all </p>
             <hr>
         </div> 
         
         <div class="col-sm-12" style="text-align: justify">
                <h6>ABOUT THE AUTHOR</h6>
                <p>Paul McFedries has worked with, programmed, and, yes, talked to computers large and small since 1975. Although he's now primarily a writer, Paul has worked as a programmer, consultant, database developer, and website developer. He has written more than 95 books that have sold more than four million copies worldwide.</p>
                <hr>
            </div> 
            <div class="col-sm-12" style="text-align: justify">
                    <h6>Reviews</h6>
                    <div style="text-align: right">
                      <button  class="btn-sm" > Write a Review</button>       
                    </div>
                    <hr>
                </div> 
            
            <div class="col-sm-12" style="text-align: justify">
                    <h6>ADDITIONAL INFORMATION</h6>
                    <p>Amazon's hugely popular family of Echo devices has made Alexa a household name. She can answer your questions, entertain you, and even help around the house. Alexa for Dummies is the perfect guide for Alexa users who want to get up and running with their Echo devices. From basic setup to making the most of Alexa’s powerful smart home capabilities, this is your one-stop resource to all </p>
                    <hr>
                </div> 
               
        </div>

        </div>
        <div class="col-sm-3">
           
           <div class="col-sm-12" >
                <p></p>
                <div class="col-sm-6" >
                <h4>Similar</h4>
                </div>
                <div class="col-sm-6" style="text-align:right;">
                <button  class="btn-sm" style="background-color: #689f38;
                color:white;">See More</button>
                </div>
                <div class="col-sm-12" >
                <p></p>
                <p></p>
                </div>
            <div class="col-sm-12" >
                <div class="col-sm-12 app-div">
                    <p></p>
                <img src="assets/images/apps/img1.jpg" style="height: 130px;
                width: 100%;">
               <a href="#" [routerLink]="['appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
               </a>
               <a href="#" [routerLink]="['appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
               
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star checkedrating"></span>
                <span class="fa fa-star"></span>
                 <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-12">
                        <p></p>
                    <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img2.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematical Physics</p>
                </a>
                <a href="#" [routerLink]="['appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-12">
                        <p></p>
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img3.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['appsinfo']"> <p title="All Math ,Physics & Chemistry Formulas- All In One"> All Math ,Physics</p>
                </a>
                <a href="#" [routerLink]="['appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-12">
                        <p></p>
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img4.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-12">
                        <p></p>
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img5.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['appsinfo']"> <p title="Mathematical physics"> Mathematical physics</p>
                </a>
                <a href="#" [routerLink]="['appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
                <div class="col-sm-12">
                        <p></p>
                        <div class="col-sm-12 app-div">
                        <p></p>
                <img src="assets/images/apps/img6.jpg" style="height: 130px;
                width: 100%;">
                <a href="#" [routerLink]="['appsinfo']"> <p title=" Mathematics for the Physical Sciences"> Mathematics for the</p>
                </a>
                <a href="#" [routerLink]="['appsinfo']"> <div class="app-title"> Leslie Copley</div></a>
                
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star checkedrating"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                 <span class="fa fa-star"></span>
                  <span style="padding-left: 18px;"><a>Free</a></span>
                </div>
                </div>
              
                
           </div>
           
          
        </div>
    </div>


<div class="content" style="">
<div class="col-lg-2" style="padding-left: 0px;" >


</div>
</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>