<body >
<style>
.app-title{
    font-size: 12px;
}  
.app-div{
    background-color: white;
    border-bottom: 4px solid red;
}
.fa-star{
    font-size: 10px;
}
</style>
<div id="right-panel" class="right-panel" style="background-color: #efefef;">
  <!-- Header-->
<header id="header" class="header">
<div class="header-menu">
 <app-appheader></app-appheader>
    
</div>
</header><!-- /header -->
<div class="" >
        <div class="col-sm-2" style="padding-left: 0px;">
            <aside id="left-panel" class="left-panel" style="background: white;">
                <nav class="navbar navbar-expand-sm navbar-default" style="background: white;"> 
                <app-appsidebarheader></app-appsidebarheader>
                <!-- /.navbar-collapse -->
                </nav>
                </aside><!-- /#left-panel -->    
        </div>
        <div class="col-sm-10">
           <p></p>
           <p></p>
           <div class="col-sm-12" >
               
               <div class="col-sm-8" style="background-color: white;
               border: 0 solid #ff6080;
               border-width: 5px;">
                    <p></p>
                <div class="col-lg-12">
                    <h4><b>Contact Us</b></h4>
                    <p>We would like to hear from you.Please send us message by filling out the form below and we will get back with you shortly.</p>
                </div>   
               <div class="col-lg-12">
                    <div class="col-lg-6 form-group">
                        <label for="inputSuccess2i" class=" form-control-label"><b>First Name</b></label>
                        <input type="text" id="inputSuccess2i" name="topicname"   class="form-control-sm form-control-success form-control" placeholder="Enter The First Name">
                     </div>  
                     <div class="col-lg-6 form-group">
                            <label for="inputSuccess2i" class=" form-control-label"><b>Last Name</b></label>
                            <input type="text" id="inputSuccess2i" name="topicname"   class="form-control-sm form-control-success form-control" placeholder="Enter The Last Name">
                    </div> 
                </div>
                <div class="col-lg-12">
                        <div class="col-lg-6 form-group">
                            <label for="inputSuccess2i" class=" form-control-label"><b>Email</b></label>
                            <input type="email" id="inputSuccess2i" name="topicname"   class="form-control-sm form-control-success form-control" placeholder="Enter The Email">
                         </div>  
                         <div class="col-lg-6 form-group">
                                <label for="inputSuccess2i" class=" form-control-label"><b>Website</b></label>
                                <input type="text" id="inputSuccess2i" name="topicname"   class="form-control-sm form-control-success form-control" placeholder="Enter The Website">
                        </div> 
                    </div>
                    <div class="col-lg-12">
                            <div class="col-lg-12 form-group">
                                <label for="inputSuccess2i" class=" form-control-label"><b>Subject</b></label>
                                <input type="text" id="inputSuccess2i" name="topicname"   class="form-control-sm form-control-success form-control" placeholder="">
                             </div>  
                             <div class="col-lg-12 form-group">
                                    <label for="inputSuccess2i" class=" form-control-label"><b>Message</b></label>
                                    <textarea name="topicname"   class="form-control-sm form-control-success form-control"></textarea>
                            </div> 
                            <div class="col-lg-12 form-group">
                                    <label for="inputSuccess2i" class=" form-control-label"><b>Contractual Agreement</b></label>
                                    <p style="text-align: justify">(please note.this example form does not constitute a fully written and usable photography contract. the content here is merely for example purposes.)
                                        <br>
                                        <br>
                                    <b>ENTIRE AGREEMENT:</b>The agreement contains entire understanding between photographer and the CLIENT. It superseds all prior and simultanious agreement between the partes. the only way to add or change this agreement is to do so in writimg signed by all the parties.    
                                    </p>
                            </div>
                            <div class="col-lg-12 form-group">
                                    <input type="checkbox">
                                    <label for="inputSuccess2i" class=" form-control-label"><b>Term & condition</b></label>
                            </div>
                        </div>
                <div class="col-lg-12" style="text-align: center;">
                <button class="btn-sm" ><b>Submit</b></button>
                <div class="col-lg-12">
                        <p>&nbsp;</p>
                       </div>
                </div>
              
               </div> 
                <div class="col-sm-4" ></div> 
                
           </div>
        </div>
    </div>


<div class="content" style="">

</div> <!-- .content -->
</div><!-- /#right-panel -->

</body>