
    <div class="sufee-login d-flex align-content-center flex-wrap" style="background-color: teal;height: 655px;
    color: white;">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                   <!-- <img class="align-content" src="assets/images/staff.png" alt="" style="height: 100px;"> -->
                    <h6>Parent Login</h6>
                </div>
                <div class="login-form"  style="background-color: teal;">
                  <span *ngIf="errorMessage!=null" class="login100-form-title p-t-20 p-b-45 ">
                          {{ errorMessage }}
                      </span>
                  <form class="form-signin" method="POST" action="#" role="form" >
                  <!-- <form #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)" class="form-horizontal" method="post"> -->
                  <div class="form-group">
                  <label style="color: white;">User Name</label>
                  <input type="email" name="email"   [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Please enter the user name" >
                  </div>
                  <div class="form-group">
                  <label style="color: white;">Password</label>
                  <input type="password" name="password"  [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  class="form-control" placeholder="Please enter the password" >
                  
                  </div>
                  <div class="checkbox">
                  <label style="color: white;">
                  <input type="checkbox" > Remember Me
                  </label>
                  <label class="pull-right" style="color: white;">
                  <a href="#" style="color: white;">Forgotten Password?</a>
                  </label>
                  
                  </div>
                  <!--<a [routerLink]="['/student/dashboard']" >-->
                  <button (click)="onLogin()" id="signupSubmit" type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" >Log In</button>
                  <!--</a>-->
                  </form>    
                  </div>
            </div>
        </div>
    </div>



